<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat </title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  
</head>
<body>
    <section class="msger">
        <header class="msger-header">
          <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> SimpleChat
          </div>
          <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
          </div>
        </header>
      
        <main class="msger-chat">
          <div class="msg left-msg">
            <div class="msg-img" style="background-image: url(https://media.istockphoto.com/vectors/chat-bot-ai-and-customer-service-support-concept-vector-flat-person-vector-id1221348467?k=20&m=1221348467&s=170667a&w=0&h=7gndncDuLvMy_RmSEc-NyWmgA3x3KA96Aj5q5Xx-wTE=)"></div>
      
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">BOT</div>
                <div class="msg-info-time">12:45</div>
              </div>
      
              <div class="msg-text">
                Hello user,
        How may I help you,
        For exiting from the chatbot,just say bye
              </div>
            </div>
          </div>
      
          <div class="msg right-msg">
            <div class="msg-img" style="background-image: url(https://lh3.googleusercontent.com/5t4_DYooTUgRMG4x7KrRXia_okdGSO5Cm7OCg53AgcrKbOa_SOfQ2fSFDmHOzdcZL8ZqJKx_1_hXOjqWumBGFhW_=s2007)"></div>

      
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">Satyam</div>
                <div class="msg-info-time">12:46</div>
              </div>
      
              <div class="msg-text">
                Hey
              </div>
            </div>
          </div>
        </main>
      
        <form action="senddata" method="post" class="msger-inputarea" id="msger-inputarea">
          {% csrf_token %}

          <input type="text" id="msger-input" class="msger-input" placeholder="Enter your message...">
          <button type="submit" id="msger-chat" class="msger-send-btn">Send</button>
        </form>
      </section>


      <script src={% static 'index.js' %}></script>
</body>
</html>